﻿@model MangaWeb.Models.AddMangaViewModel

@{
    ViewData["Title"] = "Ajouter Manga et Auteur";
}

<h2>Ajouter un Manga</h2>

<form asp-action="AddManga" asp-controller="Manga" method="post">
    <div class="form-group">
        <label asp-for="Manga.Title">Titre</label>
        <input asp-for="Manga.Title" class="form-control" />
        <span asp-validation-for="Manga.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Manga.Synopsis">Synopsis</label>
        <textarea asp-for="Manga.Synopsis" class="form-control"></textarea>
        <span asp-validation-for="Manga.Synopsis" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Manga.PublicationDate">Date de publication</label>
        <input asp-for="Manga.PublicationDate" class="form-control" type="date" />
        <span asp-validation-for="Manga.PublicationDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Manga.ImageUrl">URL de l'image</label>
        <input asp-for="Manga.ImageUrl" class="form-control" />
        <span asp-validation-for="Manga.ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Manga.AuthorId">Auteur</label>
        <select asp-for="Manga.AuthorId" asp-items="@(new SelectList(Model.Authors, "AuthorId", "Name"))" class="form-control">
            <option value="">Choisir un auteur</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter Manga</button>
</form>

<button id="showAuthorForm" class="btn btn-secondary">Ajouter un nouvel auteur</button>

<div id="authorForm" style="display: none;">
    <h2>Ajouter un Auteur</h2>
    <form asp-action="AddAuthor" asp-controller="Manga" method="post">
        <div class="form-group">
            <label asp-for="NewAuthor.Name">Nom</label>
            <input asp-for="NewAuthor.Name" class="form-control" />
            <span asp-validation-for="NewAuthor.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewAuthor.Biography">Biographie</label>
            <textarea asp-for="NewAuthor.Biography" class="form-control"></textarea>
            <span asp-validation-for="NewAuthor.Biography" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter Auteur</button>
    </form>
</div>

@section Scripts {
    <script>
        document.getElementById("showAuthorForm").addEventListener("click", function () {
            document.getElementById("authorForm").style.display = 'block';
            this.style.display = 'none';
        });
    </script>
}
