﻿@model MangaWeb.Models.LoginViewModel

@{
    ViewData["Title"] = "Connexion";
}

<h2>Connexion</h2>

<form asp-action="Login" asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
    </div>
    <button type="submit" class="btn btn-primary">Connexion</button>
</form>
